<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,700;1,700&display=swap" rel="stylesheet">

</head>
<body>

<header th:insert="blocks/header :: header"></header>


<div class="dictionary_block">

    <h1 class="title__d">My dictionary </i>
    </h1>
    <form class = "filter" method ="post" th:action="@{/dictionary/filter}">
        <input class = "filter_inner" type="text" name="text">
        <button class = "btn btn--search" type="submit">Search</button>
    </form>
    <div class="block">

        <table >

            <tr  th:each="el,  state : ${posts}" class="dict_inner table_inner">

                <td th:utext="${state.index}">
                    Correct translation
                </td>

                <td th:utext="${el.engword}">
                    Your translation
                </td>

                <td th:utext="${el.rusword}">
                    Word
                </td>

                <td>
                    <a th:href="'../dictionary/'+${el.id}+'/edit'"><i class="edit far fa-edit"></i></a>
                </td>
            </tr>
        </table>
<!--        <table>-->
<!--            <tr class="dict_inner" th:each="el, state : ${posts} class="dict_inner">-->
<!--            <td th:utext="${state.index}"> </td>-->

<!--            <td th:utext="${el.engword}"></td>-->
<!--            <td th:utext="${el.rusword}"></td>-->
<!--            <td>-->
<!--                <a th:href="'../dictionary/'+${el.id}+'/edit'"><i class="edit far fa-edit"></i></a>-->
<!--            </td>-->
<!--            </tr>-->

<!--        </table>-->




</div>



</body>
</html>