<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/style_test.css">

    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,700;1,700&display=swap" rel="stylesheet">

</head>
<body>

<header th:insert="blocks/header :: header"></header>


<div class="dictionary_block">

 
    <form class="test_param" method="post"  th:action="@{/test}">
       <span class="select"> Select the number of words:</span>

        <div class="form_radio_group">
            <div class="form_radio_group-item">
                <input id="radio-1" type="radio" name="number" value="5" checked>
                <label for="radio-1">5 words</label>
            </div>
            <div class="form_radio_group-item">
                <input id="radio-2" type="radio" name="number" value="10">
                <label for="radio-2">10 words</label>
            </div>
            <div class="form_radio_group-item">
                <input id="radio-3" type="radio" name="number" value="15">
                <label for="radio-3">15 words</label>
            </div>

        </div>



        <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="fid-1" type="radio" name="radio" value="true" checked>
                <label for="fid-1">ENG-RUS</label>
            </div>
            <div class="form_toggle-item item-2">
                <input id="fid-2" type="radio" name="radio" value="false">
                <label for="fid-2">RUS-ENG</label>
            </div>
        </div>


        <button class="btn_t" type="submit">Start</button>

    </form>
    <span th:if="${message}" >Not enough words.</span>

<!--th:text="${message}-->
</div>



</body>
</html>