<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,700;1,700&display=swap" rel="stylesheet">

</head>
<body>


<div class="first_block">
    <h1 class="logo">Translate The Word</h1>
    <h1 class="title" >Welcome</h1>

    <a class="btn"  th:href="@{/dictionary}">Sign in</a>
 </div>




</body>
</html>